body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #3b3b3b;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}
